* {
  font-family: DepartureMono Nerd Font;

  --background-color: rgba(0, 0, 0, 0.85);

  --accent-color: #f2b35f;
  --font-color: white;

  --border-radius: 10px;

  transition-duration: 0.3s;
}

.body {
  background-color: var(--background-color);

  border-radius: var(--border-radius);

  border-width: 2px;
  border-style: solid;
  border-color: var(--accent-color);
}
.root {
  border-radius: var(--border-radius);
}
.main {
  border-radius: var(--border-radius);
}
.entries-box {
  background-color: var(--background-color);
}

.entry {
  font-size: 17px;

  padding: 5px;

  margin-left: 10px;
  margin-right: 10px;

  border-radius: 5px;

  color: var(--accent-color);
  background-color: var(--background-color);

  border-width: 2px;
  border-style: solid;
  border-color: var(--accent-color);
}

.entry::selected {
  color: var(--accent-color);
  background-color: var(--background-color);

  margin: 13px;
}
.input-field {
  background-color: var(--background-color);
  color: var(--font-color);

  font-size: 20px;
  padding: 5px;

  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;

  padding-left: 10px;
  padding-right: 10px;

  border-radius: var(--border-radius);

  border-width: 2px;
  border-style: solid;
  border-color: var(--accent-color);
}
